# Ignore everything
*.bil
*.hdr
*.xml
*.mat
*.ini
*.mat
*.zip
*.gz
*.tar
*.avi
*.lnk
*.pkl
# Specifically exclude all image formats
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.pyc
__pycache__/


# Exclude CSV and Excel tables
*.csv
*.xls
*.xlsx

# Exclude JSON files
*.json

# Exclude log files
*.log

# Exclude all Visual Studio Code temporary or service files
.vscode/
*.code-workspace

# Additional common directories and files to ignore
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db
